USE [master]
GO
/****** Object:  Database [StudentDB]    Script Date: 25.03.2025 14:58:36 ******/
CREATE DATABASE [StudentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\StudentDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\StudentDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentDB]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 25.03.2025 14:58:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Groups](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 25.03.2025 14:58:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Student]    Script Date: 25.03.2025 14:58:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[surname] [varchar](50) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[patronymic] [varchar](50) NOT NULL,
	[login] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[role_id] [int] NOT NULL,
	[group_id] [int] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Groups] FOREIGN KEY([group_id])
REFERENCES [dbo].[Groups] ([ID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Groups]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Roles]
GO
/****** Object:  Statistic [_WA_Sys_00000002_2D27B809]    Script Date: 25.03.2025 14:58:37 ******/
CREATE STATISTICS [_WA_Sys_00000002_2D27B809] ON [dbo].[Groups]([title]) WITH STATS_STREAM = 0x010000000100000000000000000000001C94F53D000000001D02000000000000DD01000000000000A7030000A7000000320000000000000015D00000000000000700000020BFF200ABB2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000040400000803F000000000000404000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000022000000000000005900000000000000610000000000000069000000000000000800000000000000300010000000803F000000000000803F04000001001A00393131FF01000000000000000100000001000000280000002800000000000000000000000300000039313102000000400000000001030000000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Groups]    Script Date: 25.03.2025 14:58:37 ******/
UPDATE STATISTICS [dbo].[Groups]([PK_Groups]) WITH STATS_STREAM = 0x0100000001000000000000000000000036600E6500000000FA01000000000000BA01000000000000380300003800000004000A00000000000000000000000000070000005E09F300ABB20000030000000000000003000000000000000000803FABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F0300000004000003000000000000000000000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_2F10007B]    Script Date: 25.03.2025 14:58:37 ******/
CREATE STATISTICS [_WA_Sys_00000002_2F10007B] ON [dbo].[Roles]([title]) WITH STATS_STREAM = 0x010000000100000000000000000000004CAFA3C3000000003102000000000000F101000000000000A7030000A7000000320000000000000015D000003800000007000000A4A3F200ABB2000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000050410000803F00000000000050410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000002C000000000000006D0000000000000075000000000000007D000000000000000800000000000000300010000000803F000000000000803F04000001002400C7E0E2EEF2E4E5EBE5EDE8E5ECFF01000000000000000100000001000000280000002800000000000000000000000D000000C7E0E2EEF2E4E5EBE5EDE8E5EC020000004000000000010D0000000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Roles]    Script Date: 25.03.2025 14:58:37 ******/
UPDATE STATISTICS [dbo].[Roles]([PK_Roles]) WITH STATS_STREAM = 0x01000000010000000000000000000000645FE851000000001902000000000000D901000000000000380300003800000004000A00000000000000000000000000070000005D09F300ABB20000040000000000000004000000000000000000803F0000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000804000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000005D0000000000000065000000000000006D0000000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F000000000000803F0400000004000004000000000000000000000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000007_38996AB5]    Script Date: 25.03.2025 14:58:37 ******/
CREATE STATISTICS [_WA_Sys_00000007_38996AB5] ON [dbo].[Student]([role_id]) WITH STATS_STREAM = 0x010000000100000000000000000000002547730D000000001902000000000000D901000000000000380300003800000004000A0000000000000000000000000007000000671CF600ABB200000A000000000000000A0000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000204100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000005D0000000000000065000000000000006D0000000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F010000000400001000140000004040000000000000803F02000000040000100014000000C040000000000000803F030000000400000A000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000008_38996AB5]    Script Date: 25.03.2025 14:58:37 ******/
CREATE STATISTICS [_WA_Sys_00000008_38996AB5] ON [dbo].[Student]([group_id]) WITH STATS_STREAM = 0x01000000010000000000000000000000CD61C08200000000FA01000000000000BA010000000000003803EEF73800000004000A0000000000000000000000000007000000681CF600ABB200000A000000000000000A00000000000000ABAAAA3EABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000204100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E00000000000000100000000000000027000000000000001000140000008040000000000000803F0100000004000010001400000040400000404000004040030000000400000A000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Student]    Script Date: 25.03.2025 14:58:37 ******/
UPDATE STATISTICS [dbo].[Student]([PK_Student]) WITH STATS_STREAM = 0x01000000010000000000000000000000A309B6F20000000076020000000000003602000000000000380320413800000004000A0000000000000000000000000007000000671CF600ABB200000A000000000000000A000000000000000000803FCDCCCC3D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000600000006000000010000001400000000008040000020410000000000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011040000000000000000000000000000BA00000000000000C200000000000000CA00000000000000300000000000000047000000000000005E0000000000000075000000000000008C00000000000000A300000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F0000803F0000803F07000000040000100014000000803F0000803F0000803F09000000040000100014000000803F000000000000803F0A0000000400000A000000000000000000000000000000, ROWCOUNT = 10, PAGECOUNT = 1
GO
USE [master]
GO
